
body{
    background-image: url(photos/2.webp);
    background-size: cover;
    font-family: "Sofia", sans-serif;
    
}
   

#header{
    font-family: sans-serif;
    font-size: larger;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 3px 3px 3px #ababab;
    margin-top: 3%;

}

#main_section{
    background-color: aliceblue;
    text-align: center;
    width: 50%;
    height: auto;
    margin-left: 25%;
    padding: 5px;
    border: 4px black;
    border-radius: 18px;
    margin-top: 4%;
}
#main_section h2{
    margin-top: -1%;
    position: relative;
    font-size: 3rem;
    text-align: center;
}
#main_section blockquote{
    font-size: 2rem;
    font-style: italic;
}

#main_section #author{
    display: flex;
    justify-content: end;
}
#main_section #author span{
    margin-top: 15px;
    
}

#main_section #buttons{
    margin-top: 10%;
    max-height: 20%;
    display: flex;
    border: 5px solid blanchedalmond transparent;
    position: relative;
    padding: 10px;
   

}
#buttons i{
    font-size: 1.5rem;
}
#buttons .btn{
    padding: 10px;
    border: 5px;
    border-radius: 15px;
    cursor: pointer;
}
#buttons .btn1{
    padding: 20px;
    border: 5px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

#next{
    margin-left: 30%;
    font-size: 1.5rem;
}



/* Media query for smaller screens */

/* Small screens */
@media screen and (max-width: 412px) {
    body {
        background-image: none;
        background-color: rgb(162, 162, 124);
        background-size: auto;
        font-family: "Sofia", sans-serif;
    }

    #main_section {
        width: 80%; 
        margin-left: 10%;
        padding: 10px; 
    }
    #main_section h2{
        margin-top: -1%;
        position: relative;
        font-size: 1.5rem;
        text-align: center;
    }
    #main_section blockquote{
        font-size: 1rem;
        font-style: italic;
    }

    #buttons {
        flex-direction: column;
        margin-top: 5%; 
    }

    #next {
        margin-left: 0; 
    }
    #buttons .btn{
        padding: 15px;
        border: 5px;
        border-radius: 2%;
        cursor: pointer;
        background-color: rgb(162, 162, 124);
    }
    #buttons .btn1{
        padding:15px;
        border: 5px;
        margin-left: 10px;
        border-radius: 45%;
        cursor: pointer;
        background-color: rgb(162, 162, 124);
    }
}
@media screen and (max-width: 768px) {
    body {
        background-size: auto;
        font-family: "Sofia", sans-serif;
    }

    #main_section {
        width: 80%; 
        margin-left: 10%;
        padding: 10px; 
    }
    #main_section h2{
        margin-top: -1%;
        position: relative;
        font-size: 3rem;
        text-align: center;
    }
    #main_section blockquote{
        font-size: 1rem;
        font-style: italic;
    }

    #buttons {
        flex-direction: column;
        margin-top: 5%;
    }

    #next {
        margin-left: 0;
    }
    #buttons .btn{
        border: 5px;
        border-radius: 2%;
        cursor: pointer;
        margin-top: 2%;
        
    }
    #buttons .btn1{
        border: 5px;
        margin-left: 10px;
        border-radius: 45%;
        cursor: pointer;
        margin-top: 2%;
        
    }
}


/* Medium screens */
@media screen and (min-width: 769px) and (max-width: 1000px) {
    body{
        background-image: none;
        background-color: aquamarine;
    }
    #main_section {
        width: 60%; 
        margin-left: 20%;
        padding: 20px; 
        margin-top: 20%;
    }
}

/* Large screens */
/*@media screen and (min-width: 1025px) {
    body {
        background-size: auto;
        font-family: "Sofia", sans-serif;
    }
    #main_section {
        width: 60%; 
        margin-left: 20%;
        padding: 20px;
        margin-top: 20%;
    }
}
    #main_section h2{
        margin-top: -1%;
        position: relative;
        font-size: 3rem;
        text-align: center;
    }
    #main_section blockquote{
        font-size: 2rem;
        font-style: italic;
    }

    #buttons {
        flex-direction: column;
        margin-top: 5%; 
    }

    #next {
        margin-left: 0;
    }
    #buttons .btn{
        border: 5px;
        border-radius: 2%;
        cursor: pointer;
        margin-top: 2%;
        
    }
    #buttons .btn1{
        border: 5px;
        margin-left: 10px;
        border-radius: 45%;
        cursor: pointer;
        margin-top: 2%;
        
    }*/

